@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  padding: 0px 8px;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul.left-links,
ul.right-links {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

li {
  margin: 4px 6px;
}

.logo,
.input,
.buttons {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 8px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 8px;
}